{% extends 'trzyKolumny.html.twig' %}

{% block title %}Nadawca{% endblock %}

{% block b_div_pod_belka %}
    <h3>Nadawca / odbiorca</h3>
{% endblock %}
{% block b_div_centr %}
{% set kontrahent_id = -1 %}
{% include "kontrahent/_wyszukajAjax.html.twig" %}
<div id="div_lista_kontrahentow">
    {% include "kontrahent/listaKontrahentow.html.twig" %}
</div>
{% endblock %}
{% block b_div_prawy %}
<a href="{{ path('kontrahent_new') }}">Utwórz nowy</a>
{% endblock %}

