{% extends 'base.html.twig' %}

{% block title %}New Kontrahent{% endblock %}

{% block body %}
    <h1>Create new Kontrahent</h1>

    {{ include('kontrahent/_form.html.twig') }}

    <a href="{{ path('kontrahent_index') }}">back to list</a>
{% endblock %}
