{% extends 'base.html.twig' %}

{% block title %}{{ kontrahent.nazwa }}{% endblock %}

{% block b_div_pod_belka %}
    <h3>{{ kontrahent.nazwa }}</h3>
{% endblock %}
{% block b_div_lewy %}
{% set kontrahent_id = kontrahent.id %}
{% include "kontrahent/listaKontrahentow.html.twig" %}

{% endblock %}
{% block b_div_centr %}
{% set pismo_id = -1 %}
{# {% set pisma = kontrahent.odeMnie %} #}
{{ include('pismo/listaRej.html.twig') }}


{% endblock %}