<form method="post" action="{{ path('rodzaj_dokumentu_delete', {'id': rodzaj_dokumentu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rodzaj_dokumentu.id) }}">
    <button class="btn">Delete</button>
</form>
