<div id="sciezka_tu_jestem" class="sciezka_tu_jestem">
	/ >
	{% for sciezkaFolder in sciezkaTuJestem %}
		<a href="{{ sciezkaFolder.sciezka }}">{{ sciezkaFolder.folder }}</a> >
	{% endfor %}
</div>
 {#{ sciezkaFolder.sciezka }#} 