
	{# // <script type="text/javascript" src="/js/sciezkaTuJestem.js"></script> #}
	<br>
	{% for poziom in sciezkaTuJestem %}
		<a href="{{ path('folder_new',{'sciezka' : poziom.sciezka}) }}">{{ poziom.folder }}</a>
	{% endfor %}
	<br>
	