
	{# // <script type="text/javascript" src="/js/sciezkaTuJestem.js"></script> #}
	<br>
	/ 
	{% for sciezkaFolder in sciezkaTuJestem %}
		<a href="{{ sciezkaFolder.sciezka }}">{{ sciezkaFolder.folder }}</a> /
	{% endfor %}
	<br>