{{ encore_entry_link_tags('folderAutocomplete') }}
{{ include('folder/_form.html.twig') }}
{{ include('folder/_sciezkaTuJestem.html.twig')}}
<div
	id="div_lista_plikow">
	treść początkowa
</div>
{{ encore_entry_script_tags('folder_new') }}
