{% extends 'trzyKolumny.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('3kolSzerokaCentralna') }}
{% endblock %}

{% block title %}Uwzględnij folder
{% endblock %}

{% block b_div_centr %}
	<h3>Dodaj folder</h3>
	<div id="sciezka_zawartosc_folderu">
		{{ include('folder/_sciezkaZawartoscFolderu.html.twig') }}
	</div>
	<a href="{{ path('folder_index') }}">powrót do listy</a>

{% endblock %}
