{% extends 'trzyKolumny.html.twig' %}
{% block stylesheets %}
	<link href="/js/jquery-ui-1.13.1/jquery-ui.css" rel="stylesheet"/>
	<link href="/css/3kolSzerokaCentralna.css" rel="stylesheet"/>
	<link href="/css/folderAutocomplete.css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="/js/jquery-ui-1.13.1/external/jquery/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.13.1/jquery-ui.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.13.1/jquery-ui.min.js"></script>
{% endblock %}
{% block title %}Uwzględnij folder
{% endblock %}

{% block b_div_centr %}
	<h3>Dodaj folder</h3>
	<div id="sciezka_zawartosc_folderu">
		{{ include('folder/_sciezkaZawartoscFolderu.html.twig') }}
	</div>
	<a href="{{ path('folder_index') }}">powrót do listy</a>

	{# {{ encore_entry_script_tags('app') }} #}
{% endblock %}
