{% extends (bazyNieRozszerzaj is defined) ? 'pusty.html.twig':'base.html.twig' %}
{% block b_domyslnie_kolumny %}
<div id="div_lewy">
    {% block b_div_lewy %}
    <br>
    {% endblock %}
</div>
<div id="div_centr">
    {% block b_div_centr %}
    <br>
    {% endblock %}
</div>
<div id="div_prawy">
    {% block b_div_prawy %}
    <br>
    {% endblock %}
</div>
{% endblock %}

