<form method="post" action="{{ path('sprawa_delete', {'id': sprawa.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sprawa.id) }}">
    <button class="btn">Delete</button>
</form>
