{% extends 'trzyKolumny.html.twig' %}

{% block title %}sprawa{% endblock %}

{% block b_div_pod_belka %}
    <h3>edycja sprawy {{ sprawa.opis }}</h3>
    {% endblock %}
    
{% block b_div_centr%}

    {{ include('sprawa/_form.html.twig') }}

    {% include "pismo/listaRej.html.twig" %} 
    {#<a href="{{ path('sprawa_index') }}">powrót do listy</a>#}
    
{% endblock %}
