    <table>
        {% for sprawa in sprawy %}
            <tr>
                <td>{{ sprawa.id }}</td>
                <td>
                    <a href="{{ path('sprawa_show',{'id': sprawa.id})}}">
                        {{ sprawa.nazwa }}
                    </a>
                    
                </td>
            </tr>
        {% endfor %}
    </table>
