{% extends 'base.html.twig' %}

{% block title %}New Sprawa{% endblock %}

{% block b_div_pod_belka %}
    <h1>Utwórz sprawę</h1>

    {{ include('sprawa/_form.html.twig') }}

    <a href="{{ path('sprawa_index') }}">powrót do listy</a>
{% endblock %}
