{% extends 'trzyKolumny.html.twig' %}

{% block title %}Sprawa{% endblock %}

{% block b_div_pod_belka %}

    <h3>{{ sprawa.opis }}</h3>
{% endblock %}

{% block b_div_centr%}
<a href="{{ path('sprawa_edit', {'id': sprawa.id}) }}">edycja</a>

<label for="submit-delete" class="submit_label">usuń sprawę</label>
{{ include('sprawa/_delete_form.html.twig') }}

{% include "pismo/listaRej.html.twig" %} 
{% endblock %}
