{% block b_dodatkoweArkuszeIskrypty %}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/findPismaWgOpisuKontrahIsprawy/ZapytanieAjax.js"></script>
<script type="text/javascript" src="/js/findPismaWgOpisuKontrahIsprawy/OnWindowLoad.js"></script>
{% endblock %}
<div id="div_wyszukaj">
    {% include "pismo/_formWyszukiwanieDokumentow.html.twig" %}
</div>