{% block b_dodatkoweArkuszeIskrypty %}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/findPismaWgOpisuKontrahIstrony.js"></script>
{% endblock %}
<div id="div_wyszukaj">
    {# <table>
        <tr>
            <td>Wyszukaj wg:</td>
            <td></td>
        </tr>
        <tr>
            <td>dokumentu </td>
            <td><input id="input_find_pismo_wgOpisu" type="tekst" placeholder="opis..." style="width:100%"></td>
        </tr>
        <tr>
            <td>sprawy</td>
            <td><input id="input_find_pismo_wgSprawy" type="tekst" placeholder="opis..." style="width:100%"></td>
        </tr>
        <tr>
            <td>nadawcy/odbiorcy</td>
            <td> <input id="input_find_pismo_wgKontrahenta" type="tekst" placeholder="nazwa..." style="width:100%"></td>
        </tr>
    </table> #}
    {% include "pismo/_formWyszukiwanieDokumentow.html.twig" %}
</div>
{# <div id="kontener">kontener</div>
{{ include('catalog/indexAjax.html.twig') }} #}