{% extends 'base.html.twig' %}

{% block title %}Edit Pismo{% endblock %}

{% block body %}
    <h1>Edit Pismo</h1>

    {{ include('pismo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pismo_index') }}">back to list</a>

    {{ include('pismo/_delete_form.html.twig') }}
{% endblock %}
