{% extends 'base.html.twig' %}
{% block b_dodatkoweArkuszeIskrypty %}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/select2.min.js"></script>
<script type="text/javascript" src="/js/zmianaSelect.js"></script>
<link href="/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block title %}{{pismo.nazwaPliku}}{% endblock %}
{% block b_div_pod_belka %}
    <h3>Edycja danych dokumentu</h3>
{% endblock %}
{% block b_div_centr %}
{% include "pismo/_form.html.twig" %}
{% endblock %}
{% block b_div_prawy %}
{% include "pismo/_podglad.html.twig" %}

{% endblock %}
