{% extends 'base.html.twig' %}

{% block title %}{{pismo.nazwaPliku}}{% endblock %}
{% block b_div_pod_belka %}
    <h3>Edycja danych dokumentu</h3>
{% endblock %}
{% block b_div_centr %}
{% include "pismo/_form.html.twig" %}
{% endblock %}
{% block b_div_prawy %}
{% include "pismo/_podglad.html.twig" %}

{% endblock %}
