{% extends 'base.html.twig' %}

{% block title %}Zarejestrowane{% endblock %}

{% block b_div_pod_belka %}
    <h3>Pisma zarejestrowane</h3>
{% endblock %}
{% block b_div_centr %}
    {% set pokazDate = "tak" %}
    {{ include('pismo/listaRej.html.twig') }}
{% endblock %}
{% block belka_dol %}{% endblock %}