<table>
	{% for pismo in pisma %}
		<tr>
			<td>
				{% set nazwa = pismo.NazwaZrodlaPrzedZarejestrowaniemObcietaSciezka %}
				{% if dlugoscNazwy is not defined %}
					{% set dlugoscNazwy = 20 %}
				{% endif %}
				{# https://symfony.com/doc/current/routing.html#generating-urls-in-services #}
				{# https://symfony.com/doc/current/testing.html#retrieving-services-in-the-test #}
				{% include "pismo/_link_nowePismo_i_nazwa.twig.html" %}
				{# <a href="{{ path('pismo_nowe_ze_skanu', {'nazwa': nazwa, 'numerStrony': 1}) }}">{{ pismo.NazwaSkroconaZrodla(dlugoscNazwy) }}</a> #}
			</td>
			<td>
				{% if pismo.JestPodgladDlaZrodla() %}+
				{% endif %}

			</td>
			{% if pokazDate is defined %}

				<td>
					{{ pismo.dataModyfikacji }}
				</td>
			{% endif %}
			{% if pismo.rozmiarDokumentu > 0 %}
			<td>
				{{ pismo.RozmiarCzytelny() }}
			</td>
			{% else %}
				<td>rozmiar</td>
			{% endif %}
		</tr>
	{% endfor %}
</table>
