<table>
    {% for pismo in pisma %}
        <tr>
            <td>
                {% set nazwa = pismo.NazwaZrodlaPrzedZarejestrowaniem %}
                <a href="{{ path('pismo_nowe_ze_skanu', {'nazwa': nazwa}) }}" >{{ nazwa }}</a>
            </td>
            <td>
                {% if pismo.JestPodglad() %}+{% endif %}
                
            </td>
        </tr>
    {% endfor %}
</table>
