{% extends 'dwieKolumny.html.twig' %}

{% block title %}{{ pismo.NazwaSkroconaZrodla(15) }}{% endblock %}
{% block b_dodatkoweArkuszeIskrypty %}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/select2.min.js"></script>
<script type="text/javascript" src="/js/zmianaSelect.js"></script>
<link href="/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block b_div_pod_belka %}
    <h3>Niezarejestrowane: {{ pismo.nazwaZrodlaPrzedZarejestrowaniem }}</h3>
    
{% endblock %}
{% block b_div_2_lewy %}
{% include "pismo/_form.html.twig" %}
{# dodaj odbiorce/nadawce jesli brak na liście:
{% set form = kontrahentForm %}
{% include "kontrahent/_form.html.twig" %} #}
{% endblock %}
{% block b_div_2_prawy %}

{% include "pismo/_podglad.html.twig" %}

{% endblock %}
{% block belka_dol %}

{% endblock %}