{% extends 'base.html.twig' %}

{% block title %}Niezarejestrowane{% endblock %}

{% block b_div_pod_belka %}
    <h3>Skany niezarejestrowane</h3>
    {% include "pismo/_formLadowaniePdf.html.twig" %}
{% endblock %}
{% block b_div_centr %}
    {% set pokazDate = "tak" %}
    {{ include('pismo/listaNier.html.twig') }}
{% endblock %}
{% block belka_dol %}{% endblock %}