{% extends 'base.html.twig' %}

{% block title %}Niezarejestrowane{% endblock %}

{% block b_div_pod_belka %}
    <h3>Skany niezarejestrowane</h3>
{% endblock %}
{% block b_div_centr %}
    <table>
        {% for skan in skany %}
            <tr>
                <td>
                    
                    <a href="{{ path('pismo_nowe_ze_skanu', {'adr': skan}) }}" >{{ skan }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
{% block belka_dol %}{% endblock %}