{% extends 'base.html.twig' %}

{% block title %}Pismo{% endblock %}

{% block b_div_pod_belka %}
    <h3>Pismo</h3>
{% endblock %}
{% block b_div_lewy %}
Lewy

dir
linia<br>
linia<br>
linia<br>
linia<br>
linia<br>
linia<br>
linia<br>
{% endblock %}
{% block b_div_centr %}
centrum {{ sciezka_do_img }}
{% endblock %}
{% block b_div_prawy %}
{# <img src="{{ sciezka_do_img }}" alt="nie mogę wyświetlić " width="60%"> #}

{# <img src="{{ asset('zychRozp.png') }}" alt="nie mogę wyświetlić " width="100%"> #}

<img src="/png/zychRozp.png" alt="nie mogę wyświetlić " width="100%">
{% endblock %}