{% extends 'base.html.twig' %}

{% block title %}Pismo{% endblock %}

{% block b_div_pod_belka %}
    <h3>Pismo</h3>
{% endblock %}
{% block b_div_lewy %}
skan 7.pfd<br>
skan 8.pfd<br>
skan 9.pfd<br>
skan 10.pfd<br>
skan 11.pfd<br>

{% endblock %}
{% block b_div_centr %}
centrum {{ sciezka_do_img }}
{% endblock %}
{% block b_div_prawy %}

<img src="/png/zychRozp.png" alt="nie mogę wyświetlić " width="100%">
{% endblock %}